@use '@/styles/mixins';

.textFieldWrapper {
  @include mixins.flexCenter;
  flex-direction: column;
  width: 300px;
  margin-bottom: 25px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  label {
    width: 100%;
  }

  input {
    width: 150%;
    padding: 7px 0 7px 7px;
    border-radius: 5px;
    border: 1px solid var(--blue);

    &:focus {
      outline: none;
    }
  }
}

.errorMessage {
  margin-top: 5px;
  color: var(--error);
}
