@forward 'mixins';
@forward 'variables';
@forward 'reset';

@use 'mixins';

.textFieldWrapper {
  @include mixins.flexCenter;
  flex-direction: column;
  width: 300px;
  margin-bottom: 25px;
}

.inputWrapper,
.textAreaWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  label {
    width: 100%;
  }

  input,
  select,
  textarea {
    width: 180%;
    padding: 7px 0 7px 7px;
    border-radius: 5px;
    border: 1px solid var(--blue);

    &:focus {
      outline: none;
    }
  }
}

.textAreaWrapper {
  align-items: flex-start;
  textarea {
    height: 200px;
    resize: none;
  }
}

.errorMessage {
  margin-top: 5px;
  color: var(--error);
  font-size: 14px;
}

.tableWrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: var(--lightGrey);
}

.table {
  height: 75vh;
  width: 85%;
  border-radius: 15px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  background-color: var(--blue);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  input {
    padding: 10px 0 10px 15px;
    font-size: 20px;
    display: block;
    margin-left: 40px;
    width: 25%;
    border-radius: 10px;
    border: none;
  }
}

.addButton {
  margin-right: 40px;
  font-size: 18px;
  background-color: var(--white) !important;
  color: var(--blue) !important;
}

.tableContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 85%;
  overflow-y: auto;
  background-color: var(--white);
  border: 2px solid var(--blue);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
