.formFieldWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  margin-bottom: 15px;
}

label {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 7px 0 7px 7px;
  border-radius: 5px;
}
