@use '@/styles/mixins';

.loginForm {
  @include mixins.flexCenter;
  flex-direction: column;
  padding: 50px;
  border: 1px solid var(--blue);
  border-radius: 10px;
}

.formWrapper {
  @include mixins.flexCenter;
  height: 100vh;
  width: 100vw;
}

.signInTitle {
  margin-bottom: 30px;
}
