@use '@/styles/mixins.scss';

form {
  @include mixins.flexCenter;
  flex-direction: column;
  padding: 50px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 1em red;
}

.formWrapper {
  @include mixins.flexCenter;
  height: 100vh;
  width: 100vw;
}
