@use '@/styles/mixins';

form {
  @include mixins.flexCenter;
  flex-direction: column;
  padding: 50px;
  border: 1px solid royalblue;
  border-radius: 10px;
  box-shadow: 0 0 1em royalblue;
}

.formWrapper {
  @include mixins.flexCenter;
  height: 100vh;
  width: 100vw;
}

.signInTitle {
  margin-bottom: 30px;
}
